<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<property name="LOG_HOME" value="E:/workspace/server/moba-log/src/main/webapp" />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="GBK">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{1024} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<FileNamePattern>${LOG_HOME}/wl.log.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>60</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -
				%msg%n
			</pattern>
		</layout>
		<!--日志文件最大的大小 -->
		 <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"> 
			<MaxFileSize>50MB</MaxFileSize> </triggeringPolicy> 
	</appender>
	
	<appender name="FILEss" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
            <key>battleId</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
			<appender name="FILE-${battleId}" class="ch.qos.logback.core.FileAppender">
		    	<file>${LOG_HOME}/mobac_${battleId}.log</file>  
		    	<append>true</append>  
		    	<encoder>  
		      		<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>  
		   		</encoder>  
		  	</appender>
	  	</sift>
  	</appender>
	
	<!-- io.netty -->
	<logger name="io.netty" level="DEBUG">
		<appender-ref ref="stdout" />
		<appender-ref ref="FILE" />
	</logger>
	
	
	<logger name="org.apache" level="DEBUG">
		<appender-ref ref="stdout" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="com.guanhuan" level="DEBUG">
		<appender-ref ref="stdout" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="client" level="DEBUG">
		<appender-ref ref="stdout" />
		<appender-ref ref="FILEss" />
	</logger>

</configuration>