<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-3.1.xsd"
       default-lazy-init="false"
>
    <!--<task:annotation-driven />-->
    <!--Spring 默认为单线程，配置定时任务的线程池-->
    <!--<task:scheduler id="poolTaskScheduler" pool-size="5"/>-->
    <!--<context:component-scan base-package="com.guanhuan" />-->

    <bean name="otherJob" class="com.guanhuan.component.task.OtherJob"/>

    <!-- quartz-->
    <bean name="myJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.guanhuan.component.task.MyJob"/>
        <!--<property name="durability" value="true"/>-->
        <property name="jobDataAsMap">
            <map>
                <entry key="timeout" value="5"/>
            </map>
        </property>

    </bean>

    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="otherJob"/>
        <property name="targetMethod" value="doIt"/>
        <property name="concurrent" value="false"/>
    </bean>

    <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <!-- see the example of method invoking job above -->
        <property name="jobDetail" ref="jobDetail"/>
        <!-- 1 seconds -->
        <property name="startDelay" value="0"/>
        <!-- repeat every 5 seconds -->
        <property name="repeatInterval" value="2000"/>
    </bean>

    <!--<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
        <!--<property name="jobDetail" ref="myJob"/>-->
        <!-- run every morning at 6 AM -->
        <!--<property name="cronExpression" value="0/2 * * * * ?"/>-->
    <!--</bean>-->

    <bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!--<ref bean="cronTrigger"/>-->
                <ref bean="simpleTrigger"/>
            </list>
        </property>
    </bean>

</beans>